.product {
  display: flex;
  flex-direction: column;
  width: 267px;
  height: 391px;
  margin-top: 50px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  &__text {
    font-family: "Josefin Sans", sans-serif;
    padding: 16px 16px 0 16px;
    &-rate {
      color: red;
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
  }
  &__buttons {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: space-around;
    button {
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 2px;
      width: 40%;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
      &:active {
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
      }
    }
    &-edit {
      background-color: rgba(10, 88, 8, 0.93);
    }
    &-delete {
      background-color: #3e0404;
    }
  }
}